@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
}

button,
input {
    background: none;
    border: none;
    outline: none;
}

.section-one {
    width: 100%;
    height: 150vh;
    background-size: cover;
    background-position: center;
    background-image: url(../img/Background.png);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 90%;
    margin: 0 auto;
}

.logo a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
}

.nav a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.nav {
    width: 348px;
    display: flex;
    justify-content: space-between;
}

.content {
    width: 950px;
    margin: 0 auto;
    margin-top: 205px;
}

.top_cont {
    display: flex;
    flex-direction: column;
}

.line {
    width: 72px;
    height: 2px;
    background-color: #FFC178;
    margin-right: 32px;
}

.text-with-line {
    display: flex;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FFC178;
}

.top_cont p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FFC178;
}

.content h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 100px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.content h2 span {
    font-weight: 400;
    font-size: 88px;
    line-height: 100px;
}

.scroll-text {
    width: 126px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 125px;
}

.scroll-text a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.container {
    width: 1462px;
    margin: 0 auto;
}



.section-two {
    display: flex;
    justify-content: space-between;
    transform: translateY(-14px);
    margin-bottom: 250px;

}

.section-two__content {
    max-width: 632px;
    display: flex;
    flex-direction: column;
    padding: 85px 0px;
}

.section-two__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    color: #FFFFFF;
    margin-bottom: 27px;
}

.section-two__desc {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 27px;
}

.read-more {
    display: flex;
    align-items: center;
}

.read-more__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FBD784;
    margin-right: 8.5px;
}

.section-three {
    width: 1461px;
    height: 985px;
    margin-bottom: 227px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/sec3.png);
    justify-content: center;
    margin-bottom: 250px;
}

.section-three__content {
    max-width: 1163px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 533.38px;
    margin-bottom: 23px;
}

.section-three__desc {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    max-width: 934px;
    margin-bottom: 39px;

}

.text-with-line2 {
    max-width: 296px;
    max-height: 25px;
    display: flex;
    align-items: center;

}

.text-with-line2 p {
    display: flex;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}

.line_1,
.line_2 {
    width: 72px;
    height: 2px;
    background-color: #FFC178;
}

.text-with-line2 .line_1 {
    display: flex;
    align-items: center;
    margin-right: 29px;
}

.text-with-line2 .line_2 {
    display: flex;
    align-items: center;
    margin-left: 29px;
}

.section-three__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 27px;
}

.section-three__bromo {
    margin-bottom: 24.11px;
}

.footer__header {
    height: 125.83px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid grey;
}

.footer__logo a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 55.17px;
}

.footer__header__button1 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
}

.footer__header__button2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    color: #000000;

}

.right__button {
    width: 239.35px;
    height: 69.14px;
    border-radius: 8px;
    background: #FFA343;
    margin-left: 55.58px;
}

.footer__body-left {
    max-width: 399.6px;
    max-height: 221px;
}

.subscribe__input {
    width: 330px;
    margin: 19px 15px 30px 15px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.204545px;
    color: #FFFFFF;
    opacity: 0.5;
}

.subscribe__input::placeholder {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.204545px;
    color: #FFFFFF;
    opacity: 0.5;
}

.footer__body-title {
    margin-top: 55.17px;
    margin-bottom: 50px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
    margin-right: 38.6px;
}

.subscribe {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
}

.subscribe__btn {
    width: 70px;
    height: 70px;
    background: #FFA343;
    border-radius: 8px 8px 0px 0px;
    flex-shrink: 0;
}

.footer__body-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: 252px;

}

.footer-menu {}

.footer-menu__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFD1A0;
    margin-top: 55px;
}

.footer-menu__link {
    margin-left: 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
    margin-top: 20px;
}

.footer__body {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 89px;

}

.footer__bottom {
    width: 1379px;
    height: 30px;
    margin-left: 51.86px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 168px;

}

.footer__bottom-text {
    max-width: 354px;
    flex-shrink: 0 ;
    margin-right: 852px;
}

.footer__bottom a {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.footer__bottom-text1 {
    margin-right: 50px;
}

.footer__social {
    margin-right: 51.7px;
    flex-shrink: 0 ;
}
.footer__social-item {
    margin: 0 25px;
}
.copyright {
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 43px;
}